body{
    background-image: linear-gradient(aqua, yellow);
}


.hello,.list{
   font-family:'Courier New', Courier, monospace;

}

.hello {
    font-size: 60px;
    text-align: center;
    border: 10px groove gray;
    background-color: pink;
    padding: 20px;
    margin-left: 225px;
    margin-right: 225px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.list{
    font-size: 20px;
    border: 10px ridge gray;
    display: flex;
    justify-content: center;
    margin-left: 350px;
    margin-right: 350px;  
    margin-bottom: 207px;  
    background-color: greenyellow;
}